.h1 {
    color: blue;
}

.h2 {
    color: rgb(0, 255, 64);
}

.h3 {
    color: rgb(255, 251, 0);
}

.h4 {
    color: rgb(255, 0, 170);
}

.h5 {
    color: rgb(255, 0, 0);
}

.h6 {
    color: rgba(255, 196, 0, 0.575);
}